In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Used_Bikes.csv')

In [3]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [4]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [5]:
df.duplicated().sum()

25324

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(7324, 8)

In [8]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [9]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [10]:
cat_col = df.select_dtypes(include="O")
cat_col

,bike_name,city,owner,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield
2,Triumph Daytona 675R,Delhi,First Owner,Triumph
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha
...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,Delhi,First Owner,Hero
9369,Bajaj Avenger 220cc,Bangalore,First Owner,Bajaj
9370,Harley-Davidson Street 750 ABS,Jodhpur,First Owner,Harley-Davidson
9371,Bajaj Dominar 400 ABS,Hyderabad,First Owner,Bajaj
9372,Bajaj Avenger Street 220,Hyderabad,First Owner,Bajaj

In [11]:
num_col = df.select_dtypes(exclude="O")
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [12]:
cat_col

,bike_name,city,owner,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield
2,Triumph Daytona 675R,Delhi,First Owner,Triumph
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha
...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,Delhi,First Owner,Hero
9369,Bajaj Avenger 220cc,Bangalore,First Owner,Bajaj
9370,Harley-Davidson Street 750 ABS,Jodhpur,First Owner,Harley-Davidson
9371,Bajaj Dominar 400 ABS,Hyderabad,First Owner,Bajaj
9372,Bajaj Avenger Street 220,Hyderabad,First Owner,Bajaj

In [13]:
cat_col = cat_col.drop(["bike_name","city"], axis=1)

In [14]:
cat_col.owner.value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [15]:
dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}

In [16]:
cat_col.owner = cat_col.owner.map(dt)
cat_col

      owner            brand
0         1              TVS
1         1    Royal Enfield
2         1          Triumph
3         1              TVS
4         1           Yamaha
...     ...              ...
9362      1             Hero
9369      1            Bajaj
9370      1  Harley-Davidson
9371      1            Bajaj
9372      1            Bajaj

[7324 rows x 2 columns]

In [17]:
cat_col.brand
unique_list = list(cat_col["brand"].unique())
unique_list

['TVS',
 'Royal Enfield',
 'Triumph',
 'Yamaha',
 'Honda',
 'Hero',
 'Bajaj',
 'Suzuki',
 'Benelli',
 'KTM',
 'Mahindra',
 'Kawasaki',
 'Ducati',
 'Hyosung',
 'Harley-Davidson',
 'Jawa',
 'BMW',
 'Indian',
 'Rajdoot',
 'LML',
 'Yezdi',
 'MV',
 'Ideal']

In [18]:
dt2 = {}
count = 0
for i in cat_col.brand.unique():
    dt2[i]=count
    count+=1
dt2

{'TVS': 0,
 'Royal Enfield': 1,
 'Triumph': 2,
 'Yamaha': 3,
 'Honda': 4,
 'Hero': 5,
 'Bajaj': 6,
 'Suzuki': 7,
 'Benelli': 8,
 'KTM': 9,
 'Mahindra': 10,
 'Kawasaki': 11,
 'Ducati': 12,
 'Hyosung': 13,
 'Harley-Davidson': 14,
 'Jawa': 15,
 'BMW': 16,
 'Indian': 17,
 'Rajdoot': 18,
 'LML': 19,
 'Yezdi': 20,
 'MV': 21,
 'Ideal': 22}

In [19]:
cat_col.brand = cat_col.brand.map(dt2)

In [20]:
cat_col

      owner  brand
0         1      0
1         1      1
2         1      2
3         1      0
4         1      3
...     ...    ...
9362      1      5
9369      1      6
9370      1     14
9371      1      6
9372      1      6

[7324 rows x 2 columns]

In [21]:
pd.get_dummies(df).astype(int)

,price,kms_driven,age,power,bike_name_BMW F750 GS 850cc,bike_name_BMW G 310 GS,bike_name_BMW G 310 R,bike_name_BMW S 1000 RR Pro,bike_name_BMW S 1000 XR Pro,bike_name_Bajaj Pulsar 180cc,...,brand_LML,brand_MV,brand_Mahindra,brand_Rajdoot,brand_Royal Enfield,brand_Suzuki,brand_TVS,brand_Triumph,brand_Yamaha,brand_Yezdi
0,35000,17654,3,110,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,119900,11000,4,350,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,600000,110,8,675,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,65000,16329,4,180,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,80000,10000,3,150,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9362,25000,48587,8,150,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9369,35000,60000,9,220,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9370,450000,3430,4,750,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9371,139000,21300,4,400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9372,80000,7127,5,220,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df2 =pd.concat([cat_col,num_col],axis=1)
df2

      owner  brand     price  kms_driven  age  power
0         1      0   35000.0     17654.0  3.0  110.0
1         1      1  119900.0     11000.0  4.0  350.0
2         1      2  600000.0       110.0  8.0  675.0
3         1      0   65000.0     16329.0  4.0  180.0
4         1      3   80000.0     10000.0  3.0  150.0
...     ...    ...       ...         ...  ...    ...
9362      1      5   25000.0     48587.0  8.0  150.0
9369      1      6   35000.0     60000.0  9.0  220.0
9370      1     14  450000.0      3430.0  4.0  750.0
9371      1      6  139000.0     21300.0  4.0  400.0
9372      1      6   80000.0      7127.0  5.0  220.0

[7324 rows x 6 columns]

In [23]:
df2

      owner  brand     price  kms_driven  age  power
0         1      0   35000.0     17654.0  3.0  110.0
1         1      1  119900.0     11000.0  4.0  350.0
2         1      2  600000.0       110.0  8.0  675.0
3         1      0   65000.0     16329.0  4.0  180.0
4         1      3   80000.0     10000.0  3.0  150.0
...     ...    ...       ...         ...  ...    ...
9362      1      5   25000.0     48587.0  8.0  150.0
9369      1      6   35000.0     60000.0  9.0  220.0
9370      1     14  450000.0      3430.0  4.0  750.0
9371      1      6  139000.0     21300.0  4.0  400.0
9372      1      6   80000.0      7127.0  5.0  220.0

[7324 rows x 6 columns]

In [24]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

In [25]:
X=df2.drop("price",axis=1)
Y=df2[["price"]]

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [28]:
Y_test

         price
943   200000.0
7733  350000.0
7346   43000.0
7117   35000.0
261   140000.0
...        ...
74     55786.0
6022  161100.0
3100   32000.0
6283  175000.0
673    48000.0

[1465 rows x 1 columns]

In [29]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [30]:
lr.fit(X_train,Y_train)

LinearRegression()

In [31]:
lr.score(X_train,Y_train)

0.7165237122060086

In [32]:
lr.score(X_test,Y_test)

0.7334593625409742

In [33]:
#model score shulod be above to 90x
# train & testing score different not should de more tham 5%
# model over fit or model uderfit

### metrics evaluation
# mse
# mae
# score
# adusted r and r square

In [34]:
# # model overfit
# Traing score --> high
# testing score --> low ##(overfit)

# # model uderfit
# traning score --> low
# testing score --> low/high ##(model uderfit)

In [35]:
predict =lr.predict(X_test)
X_test

      owner  brand  kms_driven  age  power
943       1      9     12000.0  3.0  390.0
7733      1     14     30000.0  9.0  883.0
7346      2      6     33807.0  7.0  220.0
7117      1      6     40588.0  7.0  150.0
261       1      9     12800.0  6.0  200.0
...     ...    ...         ...  ...    ...
74        2      5     68000.0  7.0  223.0
6022      1      1      1753.0  2.0  350.0
3100      2      6     23553.0  6.0  150.0
6283      1      1      1800.0  2.0  410.0
673       1      6     13000.0  5.0  150.0

[1465 rows x 5 columns]

In [36]:

Y_test["price_predication"] = predict
Y_test

         price  price_predication
943   200000.0      238767.023957
7733  350000.0      558769.684493
7346   43000.0       85818.154299
7117   35000.0       50344.415479
261   140000.0      115468.170902
...        ...                ...
74     55786.0       74341.265245
6022  161100.0      141795.061267
3100   32000.0       48566.884184
6283  175000.0      177516.681800
673    48000.0       59941.991406

[1465 rows x 2 columns]

In [37]:
Y_test

         price  price_predication
943   200000.0      238767.023957
7733  350000.0      558769.684493
7346   43000.0       85818.154299
7117   35000.0       50344.415479
261   140000.0      115468.170902
...        ...                ...
74     55786.0       74341.265245
6022  161100.0      141795.061267
3100   32000.0       48566.884184
6283  175000.0      177516.681800
673    48000.0       59941.991406

[1465 rows x 2 columns]

In [38]:
Y_test["different"] = Y_test["price"]- Y_test["price_predication"]

In [39]:
Y_test

         price  price_predication      different
943   200000.0      238767.023957  -38767.023957
7733  350000.0      558769.684493 -208769.684493
7346   43000.0       85818.154299  -42818.154299
7117   35000.0       50344.415479  -15344.415479
261   140000.0      115468.170902   24531.829098
...        ...                ...            ...
74     55786.0       74341.265245  -18555.265245
6022  161100.0      141795.061267   19304.938733
3100   32000.0       48566.884184  -16566.884184
6283  175000.0      177516.681800   -2516.681800
673    48000.0       59941.991406  -11941.991406

[1465 rows x 3 columns]

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
mse=mean_squared_error(Y_test['price'],Y_test['price_predication'])

In [42]:
import numpy as np
np.sqrt(mse)

65158.777107445385

In [43]:
### adjusted r square

adjusted r Square = (1 - r2)(n-1)/n-p-1
n = number of data point
p = no of x variable

In [44]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error,root_mean_squared_error

r2_score(Y_test["price], Y_test["price_predication"])

In [59]:
r2 = r2_score(Y_test["price"], Y_test["price_predication"])
r2

0.7334593625409742

#### Mse MAE AND RMSE

## Calculate Mean Squared Error (MSE), Mean Absolute Error (MAE),
## and Root Mean Squared Error (RMSE) given the actual and predicted values.

Parameters:
actual_values : numpy array or list
    Array of actual values.
predicted_values : numpy array or list
    Array of predicted values.
    
Returns:
mse : float
    Mean Squared Error.
mae : float
    Mean Absolute Error.
rmse : float
    Root Mean Squared Error.

In [67]:
mse = mean_squared_error(Y_test['price'],Y_test['price_predication'])

10.0

In [56]:
mae = mean_absolute_error(Y_test['price'],Y_test['price_predication'])
mae

35733.53988340761

In [57]:
rmse = root_mean_squared_error(Y_test['price'],Y_test['price_predication'])
rmse

65158.777107445385

In [58]:
loss = (1-r2)*(1465-1)/(1465-5-1)
loss

0.26745407350240835

In [47]:
X_test.shape

(1465, 5)

In [48]:
loss

0.26745407350240835

In [49]:
import joblib
ls= ["shubhamgarg1971@gmail.com","hello@1234"]

In [50]:
joblib.dump(ls,"email_id.lb")

['email_id.lb']

In [51]:
ls2 = joblib.load("email_id.lb")
ls2

['shubhamgarg1971@gmail.com', 'hello@1234']

In [52]:
joblib.dump(lr,"liner_regration.lb")

['liner_regration.lb']

In [53]:
ls3 = joblib.load("liner_regration.lb")

In [54]:
ls3

LinearRegression()

<h1>Deployment</h1>

### create fonted  backend and databas 
## database create localhost mysql server you need to add recorde to modify as your system and you need to create a table as using this sql querry 
 CREATE TABLE CarData_New (
    owner INTEGER,
    brand_name INTEGER,
    kms_Drive INTEGER,
    age INTEGER,
    power INTEGER,
    price FLOAT
)
'''
# forntend create html and css 
# backend create python using Flask libaray